<template>
  <div class="d3" id="d3"></div>
</template>

<script>
require("dotenv/config");
const $ = require("jquery");
const { EventBus } = require("./event-bus");
const d3 = require("d3");
const moment = require("moment");
$(document).ready(function() {
  $(".d3").on("contextmenu", function() {
    return false;
  });
});

let simulation; // variavel global deste componente para poder ser acedida em todos os metodos do vue, nao pode ser um objeto da data
export default {
  name: "D3",
  props: ["dataSettings"],
  data: function() {
    return {
      timestamp: {},
      settings: {
        force: {
          verticalCenter: this.$props.dataSettings.graph.force.verticalCenter,
          horizontalCenter: this.$props.dataSettings.graph.force
            .horizontalCenter
        },
        groups: {
          scale: this.$props.dataSettings.graph.groups.scale
        },
        charge: {
          strength: this.$props.dataSettings.graph.charge.strength
        },
        labels: {
          nodes: this.$props.dataSettings.graph.labels.nodes,
          space: 8
        },
        nodes: {
          defaultSize: 20,
          sizeMultiplier: 6
        },
        width: 1920, // definidos pelo jquery
        height: 600 // com base nos valores de width e height do viewport do browser
      },
      width: 0,
      dataset: {}
    };
  },
  created() {
    window.addEventListener("resize", this.resizeSVG);
    EventBus.$on("updateSettings", () => {
      let width = this.settings.width;
      let height = this.settings.height;
      let SpaceByX = d3
        .scaleOrdinal()
        .range([width / 2 - 0.1 * width, width / 2 + 0.1 * width]);
      let SpaceByY = d3
        .scaleOrdinal()
        .range([height / 2 - 0.1 * height, height / 2 + 0.1 * height]);

      this.settings.groups.scale = this.$props.dataSettings.graph.groups.scale;
      this.settings.charge.strength = this.$props.dataSettings.graph.charge.strength;
      this.settings.labels.nodes = this.$props.dataSettings.graph.labels.nodes;
      this.settings.force.verticalCenter = this.$props.dataSettings.graph.force.verticalCenter;
      this.settings.force.horizontalCenter = this.$props.dataSettings.graph.force.horizontalCenter;
      this.updateGroups();
      this.updateGraph();

      simulation.force(
        "charge",
        d3.forceManyBody().strength(-this.settings.charge.strength)
      );
      if (this.settings.force.verticalCenter) {
        simulation.force(
          "y",
          d3.forceY(function(node) {
            return SpaceByY(node.service ? node.service.name : "default");
          })
        );
        // centraliza os nodes em y
      } else {
        simulation.force("y", null); // centraliza os nodes em y
      }
      if (this.settings.force.horizontalCenter) {
        simulation.force(
          "x",
          d3.forceX(function(node) {
            return SpaceByX(node.service ? node.service.name : "default");
          })
        );
        // centraliza os nodes em X
      } else {
        simulation.force("x", null); // centraliza os nodes em y
      }
    });
    EventBus.$on("updateSize", w => {
      this.settings.width = w;
      this.resizeSVG();
    });

    EventBus.$on("updateData", data => {
      console.log(data);
      this.dataset = data.dataset;
      this.timestamp = data.timestamp;
      this.buildSVG();
    });
    EventBus.$on("updateTimestamp", range => {
      this.timestamp = range;
      this.updateGraph();
    });
  },
  methods: {
    fixNodes: function() {
      this.dataset.nodes.forEach(node => {
        if (node.cx == null && node.cy == null) {
          node.cx = Math.random() * (this.settings.width - 200) + 100;
          node.cy = Math.random() * (this.settings.height - 200) + 100;
        }
      });
    },
    updateGraph: function() {
      let vm = this;
      let filteredNodes = this.dataset.nodes.filter(function(node) {
        if (
          (vm.timestamp.slider >= node.start || node.start == "") &&
          (vm.timestamp.slider <= node.end || node.end == "")
        ) {
          return node;
        }
      });
      let filteredEdges = this.dataset.edges.filter(function(edge) {
        let source = edge.source;
        let target = edge.target;
        if (
          vm.timestamp.slider >= source.start &&
          vm.timestamp.slider <= source.end &&
          vm.timestamp.slider >= target.start &&
          vm.timestamp.slider <= target.end
        ) {
          return edge;
        }
      });

      let nodes = d3
        .select("#nodes")
        .selectAll("circle")
        .data(filteredNodes);
      let edges = d3
        .select("#edges")
        .selectAll("line")
        .data(filteredEdges);
      let labels = d3
        .select("#labels")
        .selectAll("text")
        .data(filteredNodes);

      // var transition = d3.transition().duration(750);

      nodes
        .enter()
        .append("circle")
        .on("click", this.nodeClicked)
        .on("contextmenu", this.callDonut)
        .attr("class", "node")
        .attr("data-nodeID", node => node.id)
        .attr("cursor", "pointer")
        .attr("fill", function(node) {
          return node.service ? node.service.color : "#000000";
        })
        .attr("opacity", 1)
        // .attr("opacity", function(node) {
        //   if (node.traces.length > 0) {
        //     let setColor = false;
        //     node.traces.forEach(trace => {
        //       if (
        //         trace.timestamp >= vm.timestamp.start &&
        //         trace.timestamp <= vm.timestamp.end
        //       ) {
        //         setColor = true;
        //       }
        //     });
        //     if (setColor) {
        //       return 1;
        //     }
        //   }
        //   return 0.1;
        // })
        .style("stroke-width", 10) // set the stroke width
        .style("stroke", function(node) {
          let startSpan = moment(new Date(vm.timestamp.slider))
            .add(10, "s")
            .utc()
            .format();
          if (node.start >= vm.timestamp.slider && node.start <= startSpan) {
            return "#00ff00";
          } else if (node.end != "" && node.end < vm.timestamp.slider) {
            return "#ff0000";
          }
        })
        .style("stroke-opacity", 1)
        .call(
          d3
            .drag()
            .on("start", this.dragstarted)
            .on("drag", this.dragged)
            .on("end", this.dragended)
        )
        .merge(nodes);

      edges
        .enter()
        .append("g")
        .attr("class", "edges")
        .selectAll("line")
        .data(this.dataset.edges)
        .enter()
        .append("line")
        .attr("class", "edge")
        .style("stroke", "#B6B6B6")
        .style("stroke-opacity", 0.5)
        .style("stroke-width", "3px")
        .merge(edges);

      labels
        .enter()
        .append("g")
        .attr("class", "labels")
        .selectAll("text")
        .data(this.dataset.nodes)
        .enter()
        .append("text")
        .attr("class", "label")
        .text(function(d) {
          return d.name;
        })
        .merge(labels);

      nodes.exit().remove();
      edges.exit().remove();
      labels.exit().remove();

      nodes
        .attr("fill", function(node) {
          return node.service ? node.service.color : "#000000";
        })
        .attr("opacity", 1)
        // .attr("opacity", function(node) {
        //   if (node.traces.length > 0) {
        //     let setColor = false;
        //     node.traces.forEach(trace => {
        //       if (
        //         trace.timestamp >= vm.timestamp.start &&
        //         trace.timestamp <= vm.timestamp.end
        //       ) {
        //         setColor = true;
        //       }
        //     });
        //     if (setColor) {
        //       return 1;
        //     }
        //   }
        //   return 0.5;
        // })
        .style("stroke-width", 5) // set the stroke width
        .style("stroke", function(node) {
          let startSpan = moment(new Date(node.start))
            .add(3, "s")
            .utc()
            .format();

          let endSpan = moment(new Date(node.end))
            .subtract(3, "s")
            .utc()
            .format();
          if (
            vm.timestamp.slider >= node.start &&
            vm.timestamp.slider <= startSpan &&
            node.start != ""
          ) {
            return "#00ff00";
          } else if (
            vm.timestamp.slider >= endSpan &&
            vm.timestamp.slider <= node.end &&
            node.end != ""
          ) {
            return "#ff0000";
          }
        })
        .style("stroke-opacity", 1)
        .call(
          d3
            .drag()
            .on("start", this.dragstarted)
            .on("drag", this.dragged)
            .on("end", this.dragended)
        );
      edges
        .style("stroke", "#B6B6B6")
        .style("stroke-opacity", 0.5)
        .style("stroke-width", "5px");
      edges
        .filter(function(e) {
          let traces = e.source.traces;
          let count = 0;
          if (traces.length > 0) {
            traces.forEach(trace => {
              if (
                trace.timestamp >= vm.timestamp.start &&
                trace.timestamp <= vm.timestamp.end &&
                trace.to == e.target.id
              ) {
                count++;
              }
            });
          }
          if (count > 0) {
            return e;
          }
        })
        .style("stroke", "#27ae60")
        .style("stroke-opacity", 1)
        .style("stroke-width", "5px");

      labels.text(function(d) {
        if (vm.settings.labels.nodes == "id") {
          return d.id;
        } else if (vm.settings.labels.nodes == "name") {
          return d.name;
        }
        return null;
      });

      simulation.nodes(filteredNodes);
      simulation.force("link").links(filteredEdges);

      simulation.alpha(0.1).restart();
    },
    resizeSVG: function() {
      this.settings.width = $("#sizzer").innerWidth();
      this.settings.height =
        window.innerHeight -
        $(".navbar").outerHeight() -
        $("#timelineContainer").outerHeight();
      $("#svg").css("width", this.settings.width);
      $("#svg").css("height", this.settings.height);
      EventBus.$emit("viewPortRisized", this.settings);
    },
    buildSimulation: function() {
      let width = this.settings.width;
      let height = this.settings.height;
      let vm = this;
      let SpaceByX = d3
        .scaleOrdinal()
        .range([width / 2 - 0.1 * width, width / 2 + 0.1 * width]);
      let SpaceByY = d3
        .scaleOrdinal()
        .range([height / 2 - 0.1 * height, height / 2 + 0.1 * height]);
      simulation = d3
        .forceSimulation()
        .force(
          "link",
          d3
            .forceLink()
            .strength(0.5)
            .id(node => node.id)
        )
        .force(
          "collide",
          d3.forceCollide(function(node) {
            let size =
              vm.getNodeSize(node) * vm.settings.nodes.sizeMultiplier +
              vm.settings.nodes.defaultSize +
              vm.settings.labels.space;
            return size;
          })
        )
        .force(
          "charge",
          d3.forceManyBody().strength(-this.settings.charge.strength)
        );
      if (this.settings.force.verticalCenter) {
        simulation.force(
          "y",
          d3.forceY(function(node) {
            return SpaceByY(node.service ? node.service.name : "default");
          })
        ); // centraliza os nodes em y
      }
      if (this.settings.force.horizontalCenter) {
        simulation.force(
          "x",
          d3.forceX(function(node) {
            return SpaceByX(node.service ? node.service.name : "default");
          })
        ); // centraliza os nodes em X
      }
    },
    ticked: function() {
      let nodes = d3.selectAll("circle.node");
      let edges = d3.selectAll("line.edge");
      let labels = d3.selectAll("text.label");
      let vm = this;
      nodes
        .attr("r", function(node) {
          let size =
            vm.getNodeSize(node) * vm.settings.nodes.sizeMultiplier +
            vm.settings.nodes.defaultSize;
          return size;
        })
        .attr("cx", function(node) {
          return node.cx ? node.cx : node.x;
        })
        .attr("cy", function(node) {
          return node.cy ? node.cy : node.y;
        });
      edges
        .attr("x1", function(edge) {
          return edge.source.cx ? edge.source.cx : edge.source.x;
        })
        .attr("y1", function(edge) {
          return edge.source.cy ? edge.source.cy : edge.source.y;
        })
        .attr("x2", function(edge) {
          return edge.target.cx ? edge.target.cx : edge.target.x;
        })
        .attr("y2", function(edge) {
          return edge.target.cy ? edge.target.cy : edge.target.y;
        });
      labels
        .attr("x", function(node) {
          let size =
            vm.getNodeSize(node) * vm.settings.nodes.sizeMultiplier +
            vm.settings.nodes.defaultSize;
          var moveX = size + vm.settings.labels.space;
          return node.cx ? node.cx + moveX : node.x + moveX;
        })
        .attr("y", function(node) {
          return node.cy ? node.cy : node.y;
        })
        .style("font-size", "10px")
        .style("fill", "#333");
      this.updateGroups();
    },
    getNodeSize: function(node) {
      let vm = this;
      let traces = node.traces.filter(function(trace) {
        if (vm.timestamp.slider == trace.timestamp.utc) {
          return trace;
        }
      });
      return traces.length;
    },
    dragstarted: function() {
      if (!d3.event.active) simulation.alphaTarget(0.3).restart();
      d3.event.subject.fx = d3.event.subject.x;
      d3.event.subject.fy = d3.event.subject.y;
    },
    dragged: function() {
      d3.event.subject.fx = d3.event.x;
      d3.event.subject.fy = d3.event.y;
    },
    dragended: function() {
      if (!d3.event.active) simulation.alphaTarget(0);
      d3.event.subject.fx = null;
      d3.event.subject.fy = null;
    },
    group_dragstarted: function() {
      if (!d3.event.active) simulation.alphaTarget(0.3).restart();
      d3.select("#" + d3.event.subject.name)
        .select("path")
        .style("stroke-width", 3);
    },
    group_dragged: function() {
      let nodes = d3.selectAll("circle.node");
      nodes
        .filter(node => {
          if (node.service) {
            return node.service.name == d3.event.subject.name;
          }
        })
        .each(d => {
          d.x += d3.event.dx;
          d.y += d3.event.dy;
        });
    },
    group_dragended: function() {
      if (!d3.event.active) simulation.alphaTarget(0.3).restart();
      d3.select("#" + d3.event.subject.name)
        .select("path")
        .style("stroke-width", 1);
    },
    nodeClicked: function(node) {
      let traces = node.traces;
      let count = this.getNodeSize(node);
      if (traces.length > 0) {
        if (count > 0) {
          var data = {
            start: this.timestamp.start,
            end: this.timestamp.end,
            node: node
          };
          EventBus.$emit("nodeClicked", data);
          return;
        }
      }
      let message = "There is no data for this node!";
      if (this.settings.labels.nodes == "id") {
        message = "There is no data for <strong>" + node.id + "</strong>!";
      } else if (this.settings.labels.nodes == "name") {
        message = "There is no data for <strong>" + node.name + "</strong>!";
      }
      EventBus.$emit("error", message);
    },
    updateGroups: function() {
      let paths = d3.selectAll(".path_object");
      let valueline = d3
        .line()
        .x(function(d) {
          return d[0];
        })
        .y(function(d) {
          return d[1];
        })
        .curve(d3.curveCatmullRomClosed);
      this.dataset.services.forEach(service => {
        if (service.connections.length > 2) {
          let polygon = null,
            centroid = null;
          let path = paths
            .filter(s => {
              return s.name == service.name;
            })
            .attr("transform", "scale (1) translate(0,0)")
            .attr("d", service => {
              polygon = this.polygonGenerator(service.name);
              if (polygon != null) {
                centroid = d3.polygonCentroid(polygon);
                return valueline(
                  polygon.map(function(point) {
                    return [point[0] - centroid[0], point[1] - centroid[1]];
                  })
                );
              }
            });
          if (path.node() != null && centroid != null) {
            d3.select(path.node().parentNode).attr(
              "transform",
              "translate(" +
                centroid[0] +
                "," +
                centroid[1] +
                ") scale(" +
                this.settings.groups.scale +
                ")"
            );
          }
        }
      });
    },
    polygonGenerator: function(groupName) {
      let vm = this;
      let node_coords = [];
      let filteredNodes = this.dataset.nodes.filter(function(node) {
        if (
          (vm.timestamp.slider >= node.start || node.start == "") &&
          (vm.timestamp.slider <= node.end || node.end == "")
        ) {
          return node;
        }
      });
      filteredNodes.forEach(node => {
        if (node.service) {
          if (node.service.name == groupName) {
            node_coords.push([node.x, node.y]);
          }
        }
      });
      return d3.polygonHull(node_coords);
    },
    buildSVG: function() {
      //limpar o grafico
      d3.select("#svg").remove();

      // atualização do tamanho do svg
      this.resizeSVG();

      // simulação
      this.buildSimulation();
      simulation.nodes(this.dataset.nodes).on("tick", this.ticked);
      simulation.force("link").links(this.dataset.edges);
      let vm = this;

      //criação do svg que contem o grafo
      var svg = d3
        .select("#d3")
        .call(
          d3.zoom().on(
            "zoom",
            function() {
              svg.attr("transform", d3.event.transform);
            },
            { passive: true }
          )
        )
        .call(d3.zoom().transform, d3.zoomIdentity)
        .append("svg")
        .attr("id", "svg")
        .attr("viewBox", [0, 0, this.settings.width, this.settings.height])
        .attr("width", this.settings.width)
        .attr("height", this.settings.height)
        .on("dblclick.zoom", null)
        .append("g")
        .attr("id", "svgGroup")
        .attr("class", "mainGroup");
      let groups = svg.append("g").attr("class", "groups");

      svg // edges
        .append("g")
        .attr("class", "edges")
        .attr("id", "edges")
        .selectAll("line")
        .data(this.dataset.edges)
        .enter()
        .append("line")
        .attr("class", "edge")
        .style("stroke", "#B6B6B6")
        .style("stroke-opacity", 0.5)
        .style("stroke-width", "3px");
      svg // labels
        .append("g")
        .attr("class", "labels")
        .attr("id", "labels")
        .selectAll("text")
        .data(this.dataset.nodes)
        .enter()
        .append("text")
        .attr("class", "label")
        .text(function(d) {
          return d.name;
        });

      var nodeGroup = svg //grupo nodes
        .append("g")
        .attr("class", "nodes")
        .attr("id", "nodes")
        .selectAll("circle")
        .data(this.dataset.nodes)
        .enter();
      // .append("g")
      // .attr("class", "nodeGroup")
      // .attr("id", node => node.id);

      nodeGroup // nodes
        .append("circle")
        .on("click", this.nodeClicked)
        .on("contextmenu", this.callDonut)
        .attr("class", "node")
        .attr("data-nodeID", node => node.id)
        .attr("cursor", "pointer")
        .attr("fill", function(node) {
          return node.service ? node.service.color : "#000000";
        })
        .attr("opacity", 1)
        // .attr("opacity", function(node) {
        //   if (node.traces.length > 0) {
        //     let setColor = false;
        //     node.traces.forEach(trace => {
        //       if (
        //         trace.timestamp >= vm.timestamp.start &&
        //         trace.timestamp <= vm.timestamp.end
        //       ) {
        //         setColor = true;
        //       }
        //     });
        //     if (setColor) {
        //       return 1;
        //     }
        //   }
        //   return 0.3;
        // })
        .style("stroke-width", 5) // set the stroke width
        .style("stroke", function(node) {
          let startSpan = moment(new Date(vm.timestamp.slider))
            .add(10, "s")
            .utc()
            .format();
          if (node.start >= vm.timestamp.slider && node.start <= startSpan) {
            return "green";
          } else if (node.end != "" && node.end < vm.timestamp.slider) {
            return "red";
          }
        })
        .style("stroke-opacity", 1)
        .call(
          d3
            .drag()
            .on("start", this.dragstarted)
            .on("drag", this.dragged)
            .on("end", this.dragended)
        );

      let paths = groups
        .selectAll(".path_placeholder")
        .data(this.dataset.services, s => s.name)
        .enter()
        .append("g")
        .attr("class", "path_placeholder")
        .attr("id", s => s.name)
        .append("path")
        .attr("class", "path_object")
        .attr("stroke", d => d.color)
        .attr("fill", d => d.color)
        .attr("fill-opacity", "0.1")
        .attr("opacity", 0);

      paths
        .transition()
        .duration(2000)
        .attr("opacity", 1);

      groups.selectAll(".path_placeholder").call(
        d3
          .drag()
          .on("start", this.group_dragstarted)
          .on("drag", this.group_dragged)
          .on("end", this.group_dragended)
      );
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.d3 {
  position: absolute;
  z-index: 0;
}
#svg {
  transition: 0.5s;
}
</style>
