<template>
  <div class="vis-graph">
    <div id="plotly"></div>
  </div>
</template>

<script>
import Plotly from "plotly";
const $ = require("jquery");
const { EventBus } = require("./event-bus");
const Vue = require("vue").default;
const component = new Vue({
  name: "Plotly",
  data: function() {
    return {
      plotly: null,
      settings: {
        width: window.innerWidth, // definidos pelo jquery
        height: 500 // com base nos valores de width e height do viewport do browser
      },
      dataset: {}
    };
  },
  methods: {
    getSizes: function() {
      this.settings.width = window.innerWidth;
      this.settings.height = window.innerHeight - $("#navbar").outerHeight();
    },
    plotlyExists: function() {
      var gd = document.getElementById("plotly");
      if (gd.data) {
        return true;
      }
      return false;
    },
    resizePlotly: function() {
      if (this.plotlyExists()) {
        this.getSizes();
        Plotly.relayout("plotly", this.settings);
      }
    },
    buildGraph: async function() {
      let node = this.dataset.node;

      let traces = node.traces;
      if (traces.length != 0) {
        var graph = document.getElementById("plotly");
        var nodeData = {
          tos: [],
          latencys: [],
          codes: [],
          timestamps: [],
          requests: []
        };
        traces.forEach(trace => {
          if (
            trace.timestamp.utc >= this.dataset.start &&
            trace.timestamp.utc <= this.dataset.end
          ) {
            var traceData = trace.data[0];
            nodeData.tos.push(trace.to);
            nodeData.timestamps.push(trace.timestamp.iso);
            nodeData.latencys.push(traceData.latency);
            nodeData.codes.push(traceData.code);
            nodeData.requests.push(traceData.requests);
          }
        });
        var pieValues = [];
        for (var i = 0; i < nodeData.codes.length; i++) {
          pieValues.push(1);
        }
        var graphData = [
          {
            x: nodeData.timestamps,
            y: nodeData.latencys,
            mode: "lines+markers",
            type: "scatter",
            name: "Latency"
          },
          {
            x: nodeData.timestamps,
            y: nodeData.requests,
            mode: "lines+markers",
            type: "scatter",
            name: "Requests"
          },
          {
            values: pieValues,
            labels: nodeData.codes,
            domain: {
              row: 0,
              column: 1
            },
            type: "pie",
            name: "Error Code",
            textinfo: "label+percent",
            textposition: "outside",
            automargin: true
          }
        ];
        var selectorOptions = {
          buttons: [
            {
              step: "day",
              stepmode: "todate",
              count: 1,
              label: "Day"
            },
            {
              step: "month",
              stepmode: "backward",
              count: 1,
              label: "Month"
            },
            {
              step: "year",
              stepmode: "backward",
              count: 1,
              label: "Year"
            },

            {
              step: "all",
              label: "All"
            }
          ]
        };

        var layout = {
          autosize: true,
          width: this.settings.width,
          height: this.settings.height,
          margin: { l: 100, r: 100, b: 100, t: 100, pad: 5 },
          title: node.name,
          grid: { rows: 1, columns: 2, pattern: "independent" },
          xaxis: {
            rangeselector: selectorOptions,
            rangeslider: {}
          },
          yaxis: {
            fixedrange: true
          }
        };
        var icon_close = {
          path:
            "M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z",
          width: 500,
          height: 500
        };
        var config = {
          toImageButtonOptions: {
            format: "svg", // one of png, svg, jpeg, webp
            filename: "datascience4np",
            height: 2160,
            width: 3840,
            scale: 1 // Multiply title/legend/axis/canvas sizes by this factor
          },
          modeBarButtonsToAdd: [
            {
              name: "Close",
              icon: icon_close,
              click: function() {
                $(".vis-graph").fadeOut();
                Plotly.purge(graph);
              }
            }
          ],
          responsive: true,
          scrollZoom: true,
          displayModeBar: true,
          showEditInChartStudio: true,
          showLink: true,
          plotlyServerURL: "https://chart-studio.plotly.com",
          displaylogo: false
        };
        Plotly.newPlot(graph, graphData, layout, config);
        $(".vis-graph").fadeIn();
      } else {
        $(".vis-graph").fadeOut();
        if (this.plotlyExists()) {
          Plotly.purge(graph);
        }
      }
    }
  },
  created: function() {
    EventBus.$on("nodeClicked", data => {
      this.dataset = data;
      this.getSizes();
      this.buildGraph();
    });
  }
});
export default component;
$(document).ready(function() {
  $(".vis-graph").on("contextmenu", function() {
    return false;
  });
});
$(window).resize(function() {
  component.resizePlotly();
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.vis-graph {
  background-color: white;
  display: block;
  z-index: 11;
  position: relative;
}
</style>
