<template>
  <div class="sidebar">
    <div data-options="graphOptions" class="category d-flex justify-content-between">
      <div class="section-name">Graph</div>
      <div class="section-arrow d-flex align-items-center">
        <font-awesome-icon class="align-middle" :icon="['fas', 'sort-down']" />
      </div>
    </div>
    <div id="graphOptions" class="options">
      <div class="setting-ibox d-flex justify-content-between">
        <div class="setting-field">
          <div class="setting-name">Groups scale</div>
        </div>
        <div class="setting-value">
          <input
            class="input-field"
            type="number"
            v-model="dataSettings.graph.groups.scale"
            placeholder="Groups Scale"
            required
            min="0"
            step="0.01"
          />
        </div>
      </div>
      <div class="setting-ibox d-flex justify-content-between">
        <div class="setting-field">
          <div class="setting-name">Charge Strength</div>
        </div>
        <div class="setting-value">
          <input
            class="input-field"
            type="number"
            v-model="dataSettings.graph.charge.strength"
            placeholder="Charge Strength"
            step="1"
          />
        </div>
      </div>
      <div class="setting-ibox d-flex justify-content-between">
        <div class="setting-field">
          <div class="setting-name">Nodes Label</div>
        </div>
        <div class="d-flex align-items-center settings-radio d-flex justify-content-between">
          <input
            class="btn-radio"
            type="radio"
            id="opt-name"
            name="nodes-label"
            value="name"
            v-model="dataSettings.graph.labels.nodes"
          />
          <label for="opt-name">Name</label>
          <input
            class="btn-radio"
            type="radio"
            id="opt-id"
            name="nodes-label"
            value="id"
            v-model="dataSettings.graph.labels.nodes"
          />
          <label for="opt-id">Id</label>
          <input
            class="btn-radio"
            type="radio"
            id="opt-none"
            name="nodes-label"
            value="none"
            v-model="dataSettings.graph.labels.nodes"
          />
          <label for="opt-none">None</label>
        </div>
      </div>
      <div class="setting-ibox d-flex justify-content-between">
        <div class="setting-field">
          <div class="setting-name">Force Center</div>
        </div>
        <div class="d-flex align-items-center settings-radio d-flex justify-content-between">
          <input
            type="checkbox"
            id="verticalCheck"
            v-model="dataSettings.graph.force.verticalCenter"
          />
          <label for="verticalCheck">Vertical</label>
          <input
            type="checkbox"
            id="horizontalCheck"
            v-model="dataSettings.graph.force.horizontalCenter"
          />
          <label for="horizontalCheck">Horizontal</label>
        </div>
      </div>
    </div>
    <div data-options="timelineOptions" class="category d-flex justify-content-between">
      <div class="section-name">Timeline</div>
      <div class="section-arrow d-flex align-items-center">
        <font-awesome-icon class="align-middle" :icon="['fas', 'sort-down']" />
      </div>
    </div>
    <div id="timelineOptions" class="options">
      <div class="setting-ibox d-flex justify-content-between">
        <div class="setting-field">
          <div class="setting-name">Step Time</div>
        </div>
        <div class="setting-value">
          <input
            class="input-field"
            type="number"
            v-model="dataSettings.timeline.stepTime"
            placeholder="Step time"
            required
            min="0"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const $ = require("jquery");
const { EventBus } = require("./event-bus");

export default {
  name: "Sidebar",
  props: ["dataSettings"],
  watch: {
    "dataSettings.sidebar.show"() {
      let show = this.$props.dataSettings.sidebar.show;
      if (show) {
        $(".sidebar").css(
          "height",
          $(window).height() - $("#navbar").outerHeight()
        );
        $(".sidebar").css("width", "20vw");
        $(".sidebar").css("padding", "2% 1%");
        $("#sizzer").css("width", "80vw");
      } else {
        $(".sidebar").css("width", "0");
        $(".sidebar").css("padding", "0");
        $("#sizzer").css("width", "100vw");
      }
    },
    "dataSettings.graph.force.verticalCenter"() {
      EventBus.$emit("updateSettings");
    },
    "dataSettings.graph.force.horizontalCenter"() {
      EventBus.$emit("updateSettings");
    },
    "dataSettings.timeline.stepTime"(e) {
      if (e != "") {
        EventBus.$emit("updateSettings");
      }
    },
    "dataSettings.graph.groups.scale"(e) {
      if (e != "") {
        EventBus.$emit("updateSettings");
      }
    },
    "dataSettings.graph.charge.strength"(e) {
      if (e != "") {
        EventBus.$emit("updateSettings");
      }
    },
    "dataSettings.graph.labels.nodes"() {
      EventBus.$emit("updateSettings");
    }
  },
  mounted: function() {
    $(".category").on("click", function() {
      let options = $("#" + $(this).data("options"));
      if (options.css("display") == "none") {
        $(this)
          .children(".section-arrow")
          .css("transform", "rotate(-180deg)");
        options.show(500);
      } else {
        $(this)
          .children(".section-arrow")
          .css("transform", "rotate(0deg)");
        options.hide(500);
      }
    });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.sidebar {
  padding: 0;
  width: 0;
  position: fixed;
  float: right;
  bottom: 0;
  right: 0;
  z-index: 10;
  background: white;
  overflow-x: hidden;
  transition: 0.5s;
  border: 1px solid #e0e1e1;
  border-radius: 15px 0 0 15px;
}
.category {
  margin-top: 3%;
  padding: 3% 5%;
  background-color: #f9fafb;
  border: 1px solid #e0e1e1;
  border-radius: 15px 15px 15px 15px;
}
.options {
  display: none;
  margin-top: 2%;
  height: 20vh;
  padding: 3% 5%;
  background-color: #f9fafb;
  border: 1px solid #e0e1e1;
  border-radius: 15px 15px 15px 15px;
}
.section-arrow {
  transition: 0.5s;
}
.input-field {
  border-radius: 15px 15px 15px 15px;
  border: 1px solid #e0e1e1;
  text-align: center;
  width: 10vw;
  cursor: pointer;
}
.settings-radio {
  width: 60%;
}
.btn-radio {
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  cursor: pointer;
}
</style>
