<template>
  <div class="timeline">
    <div class="row" id="timelineBtns">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <button class="btn m-1 btn-size" v-on:click="playStart">
            <font-awesome-icon :icon="['fas', 'fast-backward']" />
          </button>
          <button class="btn m-1 btn-size" v-on:click="playBack">
            <font-awesome-icon :icon="['fas', 'step-backward']" />
          </button>
          <button class="btn m-1 btn-size" v-on:click="playNPause">
            <font-awesome-icon id="play" :icon="['fas', 'play']" />
            <font-awesome-icon id="stop" style="display:none;" :icon="['fas', 'pause']" />
          </button>
          <button class="btn m-1 btn-size" v-on:click="playAdvance">
            <font-awesome-icon :icon="['fas', 'step-forward']" />
          </button>
          <button class="btn m-1 btn-size" v-on:click="playEnd">
            <font-awesome-icon :icon="['fas', 'fast-forward']" />
          </button>
        </div>
      </div>
    </div>
    <div class="row" id="timelineGraph">
      <div class="col-12" id="timelineContainer">
        <div id="timeline"></div>
      </div>
    </div>
  </div>
</template>

<script>
require("dotenv/config");
import Plotly from "plotly";
const $ = require("jquery");
const Moment = require("moment");
const { EventBus } = require("./event-bus");
$(document).ready(function() {
  $("#timeline").on("contextmenu", function() {
    return false;
  });
});
export default {
  name: "Timeline",
  props: ["dataSettings"],
  data: function() {
    return {
      layout: {
        height: $(".timeline").height() - $("#timelineBtns").height()
      },
      player: {
        autoplay: false,
        timeout: this.$props.dataSettings.timeline.stepTime
      },
      plot: { xdata: {}, ydata: {}, data: {}, layout: {}, options: {} },
      slider: { xpos: {}, start: {}, end: {}, x: 0 },
      timestamp: {},
      selectedTimestamp: {},
      position: {
        x: 0,
        xmax: 0,
        y: {
          min: 0,
          max: 0
        }
      },
      dataset: {}
    };
  },
  watch: {
    "layout.height"() {
      // let vm = this;
      setTimeout(
        function() {
          let w = $("#sizzer").innerWidth();
          let h = $(".timeline").height() - $("#timelineBtns").height();
          $("#timelineContainer").css("width", w);
          $(".timeline").css("width", w - 0.02 * w);
          Plotly.relayout("timeline", {
            width: w - 0.04 * w,
            height: h
          });
        },
        300,
        { passive: true }
      );
    },
    "player.autoplay"() {
      if (this.player.autoplay) {
        $("#play").css("display", "none");
        $("#stop").css("display", "block");
      } else {
        $("#play").css("display", "block");
        $("#stop").css("display", "none");
      }
    }
  },
  created: function() {
    window.addEventListener("resize", this.resizePlot);
    EventBus.$on("updateSize", w => {
      $("#timelineContainer").css("width", w);
      $(".timeline").css("width", w - 0.02 * w);
      Plotly.relayout("timeline", {
        width: w - 0.04 * w,
        height: $(".timeline").height() - $("#timelineBtns").height()
      });
    });
    EventBus.$on("updateData", data => {
      this.dataset = data.dataset;
      this.timestamp = data.timestamp;
      this.slider.xpos = data.timestamp.start;
      this.slider.start = data.timestamp.start;
      this.slider.end = data.timestamp.end;
      this.selectedTimestamp = this.timestamp;
      this.updateTimeline();
    });
    EventBus.$on("updateSettings", () => {
      this.player.timeout = this.$props.dataSettings.timeline.stepTime;
    });
  },
  mounted: function() {},
  computed: {
    selectDragAttribute() {
      return {
        popover: {
          visibility: "hover",
          isInteractive: false // Defaults to true when using slot
        }
      };
    }
  },
  methods: {
    resizePlot: function() {
      this.layout.height =
        $(".timeline").height() - $("#timelineBtns").height();
    },
    playAdvance: function() {
      if (this.slider.x < this.plot.xdata.length - 1) {
        this.slider.x++;
      }
      this.updatePlot();
    },
    playBack: function() {
      if (this.slider.x > 0) {
        this.slider.x--;
      }

      this.updatePlot();
    },
    playStart: function() {
      this.slider.xpos = this.slider.start;
      this.slider.x = 0;
      this.updatePlot();
    },
    playEnd: function() {
      this.slider.xpos = this.slider.end;
      this.slider.x = this.plot.xdata.length - 1;
      this.updatePlot();
    },
    playNPause: function() {
      if (this.slider.x == this.plot.xdata.length - 1) {
        this.slider.x = 0;
      }
      var vm = this;
      function play() {
        if (vm.player.autoplay) {
          if (vm.slider.x < vm.plot.xdata.length - 1) {
            vm.slider.x++;
            setTimeout(play, vm.player.timeout, { passive: true });
          } else {
            vm.slider.x = 0;
            vm.player.autoplay = false;
          }
          vm.updatePlot();
        }
      }
      if (!this.player.autoplay) {
        this.player.autoplay = true;
        play();
      } else {
        this.player.autoplay = false;
      }
    },
    plotGoTo: function(x) {
      this.slider.x = x;
      this.buildPlotData();
      var range = this.getTimeRange();
      EventBus.$emit("updateTimestamp", range);
      Plotly.react("timeline", this.plot);
    },
    updatePlot: function() {
      this.buildPlotData();
      EventBus.$emit("updateTimestamp", this.getTimeRange());
      Plotly.react("timeline", this.plot);
    },
    getTimeRange: function() {
      let pos = this.plot.xdata[this.slider.x];
      let start = this.slider.start;
      var timer = {
        slider: pos,
        start:
          pos == start
            ? start
            : Moment(pos)
                .utc()
                .subtract(1, "ms")
                .format(),
        end: Moment(pos)
          .utc()
          .add(1, "ms")
          .format()
      };
      return timer;
    },
    buildPlotData: function() {
      let timeline = this.dataset.timeline;
      this.plot.xdata = [];
      this.plot.ydata.latency = [];
      this.plot.ydata.requests = [];
      timeline.traces.forEach(trace => {
        let exists = false;
        this.plot.xdata.forEach(time => {
          if (time == trace.time) {
            exists = true;
          }
        });
        if (!exists) {
          this.plot.xdata.push(trace.time);
        }
        let sum_latency = 0;
        let sum_requests = 0;
        trace.logs.forEach(log => {
          sum_latency += log.ping;
          sum_requests += log.requests;
        });
        this.plot.ydata.latency.push(sum_latency / trace.logs.length);
        this.plot.ydata.requests.push(sum_requests / trace.logs.length);
      });

      var trace1 = {
        type: "scatter",
        mode: "lines+markers",
        yaxis: "y",
        name: "Latency",
        x: this.plot.xdata,
        y: this.plot.ydata.latency,
        line: { color: "#17BECF" }
      };

      var trace2 = {
        type: "scatter",
        mode: "lines+markers",
        name: "Requests",
        yaxis: "y2",
        x: this.plot.xdata,
        y: this.plot.ydata.requests,
        line: { color: "#7F7F7F" }
      };

      var max = Math.max(
        Math.max.apply(null, this.plot.ydata.requests),
        Math.max.apply(null, this.plot.ydata.latency)
      );

      // apenas utilizado para definir inicialmente o timestamp do grafico, caso contrario o grafico desenha consoante o timestamp do datepicker
      EventBus.$emit("updateTimestamp", this.getTimeRange());
      this.position.xmax = this.plot.xdata.length - 1;
      this.position.y.min = 0;
      this.position.y.max = max + 15;
      var slider = {
        type: "line",
        yref: "paper",
        name: "Slider",
        hoverinfo: "x",
        showlegend: false,
        x: [this.plot.xdata[this.slider.x], this.plot.xdata[this.slider.x]],
        y: [this.position.y.min, this.position.y.max],
        line: { color: "#FF0000", width: 3 }
      };
      this.plot.data = [trace1, trace2, slider];
    },
    getFirstPointInInterval: function() {
      let start = this.selectedTimestamp.start;
      let end = this.selectedTimestamp.end;
      for (let i = 0; i < this.plot.xdata.length; i++) {
        const element = this.plot.xdata[i];
        if (element > start && element < end) {
          return i;
        }
      }
    },
    updateTimeline: function() {
      let timestamp = this.timestamp;
      this.slider.xpos = timestamp.start;
      this.slider.x = 0;
      this.buildPlotData();
      this.plot.layout = {
        title: "",
        xaxis: {
          autorange: true,
          range: [this.dataset.start, this.dataset.end],
          type: "date"
        },
        yaxis: {
          title: "Latency",
          titlefont: { color: "#17BECF" },
          tickfont: { color: "#17BECF" },
          side: "left",
          fixedrange: true,
          range: [this.position.y.min, this.position.y.max]
        },
        yaxis2: {
          title: "Requests",
          titlefont: { color: "#7F7F7F" },
          tickfont: { color: "#7F7F7F" },
          overlaying: "y",
          side: "right",
          fixedrange: true,
          range: [this.position.y.min, this.position.y.max]
        },
        autosize: true,
        width: $("#timelineContainer").width(),
        height: $(".timeline").height() - $("#timelineBtns").height(),
        showlegend: true,
        legend: {
          x: 1,
          xanchor: "right",
          y: 1
        },
        margin: {
          l: 50,
          r: 50,
          b: 50,
          t: 10,
          pad: 4
        }
      };

      this.plot.options = {
        displayModeBar: false,
        displaylogo: false,
        responsive: true,
        scrollZoom: true
      };

      Plotly.newPlot(
        "timeline",
        this.plot.data,
        this.plot.layout,
        this.plot.options
      );

      var timeline = document.getElementById("timeline");
      var vm = this;
      timeline.on("plotly_click", eventData => {
        vm.plotGoTo(eventData.points[0].pointIndex);
      });

      timeline.on("plotly_relayout", eventData => {
        eventData["shapes[0].y0"] = this.position.y.min;
        eventData["shapes[0].y1"] = this.position.y.max;
        let startRange = this.timestamp.start;
        let endRange = this.timestamp.end;
        if (eventData["xaxis.range[0]"] && eventData["xaxis.range[1]"]) {
          startRange = Moment(eventData["xaxis.range[0]"])
            .utcOffset(0, true)
            .format();
          endRange = Moment(eventData["xaxis.range[1]"])
            .utcOffset(0, true)
            .format();
        }
        if (
          startRange >= this.timestamp.start &&
          startRange <= this.timestamp.end &&
          endRange >= startRange &&
          endRange <= this.timestamp.end
        ) {
          this.selectedTimestamp = {
            start: startRange,
            end: endRange
          };
          if (
            this.plot.xdata[this.slider.x] <= startRange ||
            this.plot.xdata[this.slider.x] >= endRange
          ) {
            this.slider.x = this.getFirstPointInInterval();
          }
        } else {
          this.selectedTimestamp = {
            start: this.timestamp.start,
            end: this.timestamp.end
          };
          this.slider.x = 0;
        }
        this.slider.xpos = this.plot.xdata[this.slider.x];
        this.slider.start = this.selectedTimestamp.start;
        this.slider.end = this.selectedTimestamp.end;
        this.player.autoplay = false;
        this.updatePlot();
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
*:focus {
  outline: none;
}
.timeline {
  padding: 0.5% 1%;
  /* box-shadow: 5px 10px 18px #888888; */
  border-radius: 15px 15px 0 0;
  border: 1px solid #e0e1e1;
  color: black;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 98%;
  height: 30vh;
  bottom: 0;
  margin: 0 1%;
  transition: 0.5s;
}
/* #timelineGraph {
  position: relative;
  height: 100%; */
/* } */
.timelineSpinner {
  display: none;
  color: blue;
  padding: 3%;
}
#timelineContainer {
  transition: 0.5s;
}
.btn-size {
  width: 40px !important;
  height: 40px !important;
  color: #777878;
}
</style>
