<template>
  <div>
    <nav
      id="navbar"
      class="navbar sticky-top navbar-expand navbar-light bg-white bd-navbar d-flex justify-content-between"
    >
      <div v-on:click="goHome()" class="navbar-brand">DataScience4NP</div>
      <date-range-picker
        valuetype="utc"
        ref="picker"
        :opens="datepicker.opens"
        :locale-data="datepicker.localeData"
        :minDate="datepicker.minDate"
        :maxDate="datepicker.maxDate"
        :singleDatePicker="datepicker.singleDatePicker"
        :timePicker="datepicker.timePicker"
        :timePicker24Hour="datepicker.timePicker24Hour"
        :showWeekNumbers="datepicker.showWeekNumbers"
        :showDropdowns="datepicker.showDropdowns"
        :autoApply="datepicker.autoApply"
        :timePickerSeconds="datepicker.timePickerSeconds"
        v-model="datepicker.dateRange"
        :linkedCalendars="datepicker.linkedCalendars"
        @update="updatedDate"
      >
        <template
          v-slot:input="picker"
        >{{ formatDate(picker.startDate) }} - {{ formatDate(picker.endDate) }}</template>
      </date-range-picker>
      <div
        id="configsMenu"
        v-on:click="configurations"
        class="configIcon d-flex align-items-center"
      >
        <font-awesome-icon class="align-middle" :icon="['fas', 'cog']" />
      </div>
    </nav>
    <div id="error-alert" class="alert alert-danger my-alert" role="alert" v-html="logs.message"></div>
    <div id="sizzer">
      <Sidebar :dataSettings="settings"></Sidebar>
      <D3 :dataSettings="settings"></D3>
      <Plotly></Plotly>
      <Timeline :dataSettings="settings"></Timeline>
    </div>
  </div>
</template>

<script>
require("bootstrap/dist/css/bootstrap.min.css");
import { library } from "@fortawesome/fontawesome-svg-core";
import {
  faPlay,
  faStepBackward,
  faStepForward,
  faStop,
  faFastForward,
  faFastBackward,
  faAngleRight,
  faPause,
  faCog,
  faSortDown,
  faSortUp
} from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import D3 from "@/components/D3";
import Plotly from "@/components/Plotly";
import Timeline from "@/components/Timeline";
import Sidebar from "@/components/Sidebar";

const Moment = require("moment");
const Vue = require("vue").default;
const { EventBus } = require("@/components/event-bus");
const axios = require("axios/dist/axios");
const apiURL = window.location.protocol + "//" + process.env.VUE_APP_API_URL;
const $ = require("jquery");

library.add(
  faPlay,
  faStepBackward,
  faStepForward,
  faStop,
  faFastForward,
  faFastBackward,
  faAngleRight,
  faPause,
  faCog,
  faSortDown,
  faSortUp
);

Vue.component("font-awesome-icon", FontAwesomeIcon);
Vue.component("date-range-picker", DateRangePicker);

Vue.config.productionTip = false;

export default {
  name: "App",
  data: function() {
    return {
      settings: {
        sidebar: {
          show: false
        },
        timeline: {
          stepTime: 1000
        },
        graph: {
          force: {
            verticalCenter: true,
            horizontalCenter: true
          },
          groups: {
            scale: 0
          },
          charge: {
            strength: 200
          },
          labels: {
            nodes: "none"
          }
        }
      },
      logs: {
        message: ""
      },
      timestamp: {
        start: "",
        end: "",
        slider: ""
      },
      dataset: {},
      datepicker: {
        minDate: null,
        maxDate: Moment(new Date())
          .utc()
          .format(),
        showWeekNumbers: false,
        linkedCalendars: true,
        singleDatePicker: false,
        showDropdowns: true,
        timePicker: false,
        timePickerIncrement: 10,
        timePicker24Hour: false,
        timePickerSeconds: true,
        autoApply: false,
        dateRange: {
          startDate: Moment(new Date())
            .utc()
            .format(),
          endDate: Moment(new Date())
            .utc()
            .format()
        },
        ranges: false,
        opens: "center",
        localeData: {
          format: "d mmmm yyyy",
          separator: " - "
        }
      }
    };
  },
  components: {
    Sidebar,
    D3,
    Timeline,
    Plotly
  },
  created: function() {
    EventBus.$on("error", message => {
      this.logs.message = message;
      let error = $("#error-alert");
      if (error.css("display") == "none") {
        error
          .fadeIn("slow")
          .delay(2500)
          .fadeOut("slow");
      } else {
        error.finish().hide(0);
        error
          .fadeIn("slow")
          .delay(2500)
          .fadeOut("slow");
      }
    });
    this.updatedDate();
  },
  methods: {
    configurations: function() {
      this.settings.sidebar.show = !this.settings.sidebar.show;
      let show = this.settings.sidebar.show;
      if (show) {
        $("#sizzer").css("width", "80vw");
      } else {
        $("#sizzer").css("width", "100vw");
      }
      EventBus.$emit("updateSize", $("#sizzer").innerWidth());
    },
    updatedDate: function() {
      this.timestamp.start = Moment(this.datepicker.dateRange.startDate)
        .startOf("day")
        .utcOffset(0, true)
        .format();
      this.timestamp.slider = Moment(this.datepicker.dateRange.startDate)
        .startOf("day")
        .utcOffset(0, true)
        .format();
      this.timestamp.end = Moment(this.datepicker.dateRange.endDate)
        .endOf("day")
        .utcOffset(0, true)
        .format();

      this.getData();
    },
    goHome: function() {
      window.location.href = document.location.origin;
    },
    formatDate: function(d) {
      var date = Moment(new Date(d))
        .utc()
        .format("DD MMMM YYYY");
      return date;
    },
    getInitialTrace: function() {
      let timeline = this.dataset.timeline;
      let times = [];
      timeline.traces.forEach(trace => {
        let exists = false;
        times.forEach(time => {
          if (time == trace.time) {
            exists = true;
          }
        });
        if (!exists) {
          times.push(trace.time);
        }
      });
      return times[0];
    },
    getData: function() {
      try {
        axios({
          url: apiURL,
          method: "post",
          data: {
            query: `{
                  nodes(start: "${this.timestamp.start}", end: "${this.timestamp.end}"){
                    id
                    name
                    connections
                    cx
                    start
                    end
                    cy
                    traces{
                      timestamp{
                        iso
                        utc
                      }
                      to
                      data{
                        code
                        latency
                        requests
                      }
                    }
                    service{
                      name
                      color
                    }
                    edges{
                      id
                      target
                      source
                    }
                  }
                  edges{
                    id
                    source
                    target
                  }
                  services{
                    id
                    name
                    color
                    connections{
                      to
                    }
                  }
                  timeline(start: "${this.timestamp.start}", end: "${this.timestamp.end}"){
                    start
                    end
                    traces {
                      time
                      logs {
                        from
                        to
                        code
                        ping
                        requests
                      }
                    }
                  }
                }`
          }
        }).then(response => {
          this.dataset = response.data.data;
          this.timestamp.slider = this.getInitialTrace();
          let data = {
            dataset: this.dataset,
            timestamp: this.timestamp
          };
          EventBus.$emit("updateData", data);
        });
      } catch (error) {
        console.log(error);
      }
    }
  }
};
</script>

<style>
html,
body {
  width: 100%;
  height: 100%;
  background-color: #f9fafb !important;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  /* prevent text selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
*:focus {
  outline: none;
}
.navbar {
  z-index: 9;
  border-bottom: 1px solid #e0e1e1;
  /* border-radius: 0 0 15px 15px; */
}
.navbar-brand {
  cursor: pointer;
}
.card {
  margin-bottom: 5% !important;
}
#sizzer {
  width: 100%;
  height: 100%;
  position: relative;
}
/* Pulls plotly's modebar to right soo it dosen't go out of screen */
.modebar {
  right: 15px !important;
}
.configIcon {
  margin-left: 2%;
  font-size: 150%;
  color: #333;
}
.vue-daterange-picker {
  width: 30%;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
}
.vue-daterange-picker .form-control {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
.my-alert {
  display: none;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  margin: auto;
  position: absolute;
}
</style>
